{{>header}}

<div class="main-content" style="margin-top: 25px;">
  <h1>{{title}}</h1>
  <img src="https://media4.s-nbcnews.com/j/newscms/2019_40/3038466/191004-leo-sally-al-1429_865eb4a22762b2c53f6c9a2fb8725dd2.fit-760w.jpg" alt="">
    
    </div>
{{>footer}}